@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    color: var(--font-color);
    font-family: 'Open Sans', sans-serif;
}


:root{
    --base-color: #1F80E1;
    --font-color: #fff;
    --container-color: #C2C2BC;
    --shadow-color: #aaaaa7;
    --body-color: #EFEFEB;
}

body{
    background-color: var(--body-color);
}

.header{
    background-color: var(--base-color);
    color: var(--font-color);
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: .80rem;
}

#botao-voltar{
    height: 2rem;
    margin-right: 30rem;
}

#principal{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#form{
    margin-top: 5rem;
}

.cadastro-element{
    background-color: #fff;
    border: 0;
    border-radius: .25rem;
    width: 20rem;
    height: 3.5rem;
    margin: 0 1rem 1rem 0;
    outline: none;
    box-shadow: none;
}

.cadastro-element:focus{
    border: .15rem var(--base-color) solid;
}

input{
    color: #000;
    padding-left: .50rem;
}

::-webkit-input-placeholder {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
}

#botao{
    background-color: var(--base-color);
    color: #fff;
    border: 0;
    width: 8rem;
    height: 2.5rem;
    border: 0;
    border-radius: .25rem;
    padding: 0;
    margin-left: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#botao:hover{
    background-color: #64a6e9;
    cursor: pointer;
}
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    box-shadow: 2px 2px 10px var(--shadow-color);
    width: 80%;
}

.records{
    width: 80%;
    user-select: none;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 6rem;
}

.records th{
    background-color: var(--base-color);
    width: 20%;
    height: 2.5rem;
}

.records td{
    color: #000;
    width: 20%;
    height: 2.5rem;
    background-color: #fff;
}

footer{
    background-color: var(--base-color);
    color: var(--font-color);
    font-size: .75rem;
    display: flex;
    align-items: center;
    margin-top: 1.10rem;
    justify-content: center;
}

